body{
  background-color: #d1e4ff;
    position: relative;
    padding: 0;
    margin: 0;
}
.content {
  font-family: 'roboto', sans-serif;
  color: #252525;
  margin-top: 0;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  width:  920px;
  position: absolute;
  left: 50%;
  margin-left: -460px;
  padding-bottom: 65px;
}
.content h1, h2, h3, h4, h5, h6{
	margin-top: 1em;
	margin-bottom: 1em;
}
.content  a{
	color: #2780e3;
}
.content  mark{
  background-color: #ffff00;
}
.content  ins{
	text-decoration: underline solid #828282;
}
.content  code{
	font-family: 'Courier New', monospace;
  background-color: #f0e6d6;
}
.content  kbd{
	font-family: 'Courier New', monospace;
  background-color: #eadcea;
}
.content  samp{
	font-family: 'Courier New', monospace;
	background-color: #eadcdc;
}
.content  blockquote{
  background-color: #eadcea;
  margin: 0;
  border-left: 4px;
  padding-left: 30px ;
}
.content  pre{
	padding-left: 12px;
 background-color: #f0e6d6;
}
.content ul, ol{
	padding-left: 2em;
	padding-top: 0.5em;
}
.content dd{
	padding-bottom: 0.5em;
}
.content dt{
    font-weight:bold;
    font-style: italic;
}
.content  table{
  width: 100%;
  border: 1px solid #b496b4;
  border-collapse: collapse;
}
.content table  td, th{
	border: 1px solid #b496b4;
	padding: 5px;
}
.content  table  th{
  background-color: #eadcea;
  text-align: center;
  font-weight: normal;
}